<appSettings>
  <add key="ida:AppID" value="70ac6cd9-a05a-48d1-9aad-b8fa314bd00e" />
  <add key="ida:AppSecret" value="9Km/d0.H2fbGBb2lE/R?:o8_IxfW7nS-" />
  <add key="ida:RedirectUri" value="https://localhost:44375/" />
  <add key="ida:AppScopes" value="User.Read Directory.AccessAsUser.All" />
</appSettings>